<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appsSettings>
  <add key="CLSID_FIREWALL" value ="{304CE942-6E39-40D8-943A-B913C40C9CD4}"></add>  
  <add key ="PROGID_AUTHORIZED_APPLICATION" value ="HNetCfg.FwAuthorizedApplication"></add>

  
</appsSettings>

</configuration>